<div class="row justify-content-center mt-5">
  <div class="col-md-4">
    <form [formGroup]="signUpForm" (ngSubmit)="onSignUpFormSubmit()">
      <mat-card>
        <mat-card-title>Please fill the form, no funny stuff!</mat-card-title>
        <mat-card-content>
          <div class="row justify-content-center">
            <div class="col-10">
              <mat-form-field class="w-100">
                <input
                  matInput
                  type="text"
                  formControlName="name"
                  placeholder="Enter your name">
                <mat-error *ngIf="signUpForm.get('name').invalid">
                  {{getErrorMessage('name')}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-10">
              <mat-form-field class="w-100">
                <input
                  matInput
                  type="email"
                  formControlName="email"
                  placeholder="Enter your email">
                <mat-error *ngIf="signUpForm.get('email').invalid">
                  {{getErrorMessage('email')}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-10">
              <mat-form-field class="w-100">
                <input
                  matInput
                  type="password"
                  formControlName="password"
                  placeholder="Enter password">
                <mat-error *ngIf="signUpForm.get('password')">
                  {{getErrorMessage('password')}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-10">
              <mat-form-field class="w-100">
                <input
                  matInput
                  type="password"
                  formControlName="confirm-password"
                  [errorStateMatcher]="matcher"
                  placeholder="Confirm your password">
                <mat-error
                  *ngIf="signUpForm.get('confirm-password').invalid || signUpForm.hasError('confirmationFailed')">
                  {{ signUpForm.hasError('confirmationFailed') ? 'You didn\'t get thoe password quiet right' : getErrorMessage('confirm-password')}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div *ngIf="signUpError !== null" class="row justify-content-center mt-3 mb-3">
            <div class="col-12 text-center">
              <button
                mat-raised-button
                color="{{ signUpError.status === 400 ? 'warn' : 'basic' }}"
                type="button"
                (click)="onResetButtonClick(signUpError.status)"
              >
                {{signUpError.status === 400 ?
                'Your email is already in use' :
                'Sorry, we\'re having some trubbles right now, try again later' }}
              </button>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-10 text-center">
              <button
                class="w-100"
                mat-raised-button
                color="primary"
                type="submit"
              >
                Sign up now! 100% free, no scam certified
              </button>
            </div>
          </div>
          <div class="row justify-content-center mt-4 mb-4">
            <div class="col-10">
              <mat-divider></mat-divider>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-12 text-center">
              <span>Or if you already have account, try logging in here</span>
            </div>
          </div>
          <div class="row justify-content-center mb-4">
            <div class="col-10 text-center">
              <button
                class="w-100"
                type="button"
                mat-raised-button
                (click)="onLogInClick()"
              >
                Log in
              </button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>

