<div class="row">
  <div class="col-12">
    <app-nav-menu></app-nav-menu>
  </div>
</div>
<div class="row justify-content-center mt-5">
  <div class="col-12 text-center">
    <mat-accordion [multi]="true">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Manage task
          </mat-panel-title>
          <mat-panel-description>
            Checkout existing tasks!
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card>
          <mat-card-title class="text-left">
            Your amazing task manager
          </mat-card-title>
          <mat-card-content>
            <div class="row mt-2 mb-5">
              <div class="col-12">
                <mat-divider></mat-divider>
              </div>
            </div>
            <div *ngIf="!(completedTasks.length || incompletedTasks.length)" class="row mb-5">
              <div class="col-12">
                <h2>You don't have any tasks yet.</h2>
                <h3>Try adding them in "Create task" section</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div cdkDropListGroup>
                  <div class="example-container">
                    <h2>To do</h2>

                    <div
                      cdkDropList
                      [cdkDropListData]="incompletedTasks"
                      class="example-list"
                      (cdkDropListDropped)="drop($event)">
                      <div class="example-box" *ngFor="let task of incompletedTasks" cdkDrag>
                        <app-task-list-item
                          (deleted)="uponTaskDeletion($event)"
                          class="w-100"
                          [task]="task"></app-task-list-item>
                      </div>
                    </div>
                  </div>

                  <div class="example-container">
                    <h2>Done</h2>

                    <div
                      cdkDropList
                      [cdkDropListData]="completedTasks"
                      class="example-list"
                      (cdkDropListDropped)="drop($event)">
                      <div class="example-box" *ngFor="let task of completedTasks" cdkDrag>
                        <app-task-list-item
                          (deleted)="uponTaskDeletion($event)"
                          class="w-100"
                          [task]="task"></app-task-list-item>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="incompletedTasks.length || completedTasks.length">
              <div class="col-12">
                <div class="row">
                  <div class="col-12">
                    <h4>Done with these? Switch to the next page</h4>
                  </div>
                </div>
                <div class="row align-content-center">
                  <div class="col">
                    <button
                      *ngIf="taskPreferences.paginate.skip !== 0"
                      type="button"
                      (click)="pageChange(-taskPreferences.paginate.limit)"
                      mat-raised-button>
                      Previous Page
                    </button>
                    <button
                      type="button"
                      *ngIf="!nextPageDoesNotExist"
                      (click)="pageChange(taskPreferences.paginate.limit)"
                      mat-raised-button>
                      Next Page
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Create task
          </mat-panel-title>
          <mat-panel-description>
            What are you waiting for? Just add some task to your humble list!
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card>
          <mat-card-title class="text-left">
            Just fill the form, press save button and enjoy newly created task
          </mat-card-title>
          <mat-card-content>
            <div class="row mt-2 mb-5">
              <div class="col-12">
                <mat-divider></mat-divider>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <form [formGroup]="createTaskForm">
                  <div class="row">
                    <div class="col-9">
                      <div class="row">
                        <div class="col-12">
                          <mat-form-field class="w-100">
                            <textarea
                              matInput
                              type="text"
                              placeholder="Task description"
                              formControlName="description"></textarea>
                            <mat-error *ngIf="createTaskForm.get('description').invalid">
                              {{getErrorMessage('description')}}
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row text-left">
                        <div class="col-12">
                          <mat-form-field>
                            <mat-select formControlName="completed" placeholder="Completed">
                              <mat-option [value]="false">To do</mat-option>
                              <mat-option [value]="true">Done</mat-option>
                            </mat-select>
                            <mat-error *ngIf="createTaskForm.get('completed').invalid">
                              {{getErrorMessage('completed')}}
                            </mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div class="col-3">
                      <button
                        mat-raised-button
                        [disabled]="createTaskForm.invalid"
                        color="accent"
                        (click)="onCreateTaskSubmit()"
                        type="button">Save
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Task preferences
          </mat-panel-title>
          <mat-panel-description>
            Personalize your manager
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card>
          <mat-card-title class="text-left">
            Check out all these fancy settings
          </mat-card-title>
          <mat-card-content>
            <div class="row mt-2 mb-5">
              <div class="col-12">
                <mat-divider></mat-divider>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <app-task-preferences (preferencesHasBeenUpdated)="reloadTasks()"></app-task-preferences>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

