.spinner-container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.85);
}

mat-progress-spinner {
  width: 100px;
  height: 100px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}
