<mat-card class="avatar-card position-relative" *ngIf="userService.getAvatarBinary !== null">
  <mat-card-content>
    <img class="avatar-img position-absolute" [src]="userService.getAvatarBinary" alt="user avatar">
  </mat-card-content>
</mat-card>
