<div class="row justify-content-center mt-5">
  <div class="col-md-4">
    <form [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmit()">
      <mat-card>
        <mat-card-title>Looks like you'll need to login</mat-card-title>
        <mat-card-content>
          <div class="row justify-content-center">
            <div class="col-10">
              <mat-form-field class="w-100">
                <input
                  matInput
                  type="email"
                  formControlName="email"
                  placeholder="Enter your email">
                <mat-error *ngIf="loginForm.get('email').invalid">
                  {{getErrorMessage('email')}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-10">
              <mat-form-field class="w-100">
                <input
                  matInput
                  type="password"
                  formControlName="password"
                  placeholder="Yup, your password goes here">
                <mat-error *ngIf="loginForm.get('password')">
                  {{getErrorMessage('password')}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div *ngIf="loginError !== null" class="row justify-content-center mt-3 mb-3">
            <div class="col-12 text-center">
              <button
                mat-raised-button
                color="{{ loginError.status === 400 ? 'warn' : 'basic' }}"
                type="button"
                (click)="onResetButtonClick(loginError.status)"
              >
                {{loginError.status === 400 ?
                'Credentials you just entered are incorrect, reset form here!' :
                'Sorry, we\'re having some trubbles right now, try again later' }}
              </button>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-10 text-center">
              <button
                class="w-100"
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="!loginForm.valid"
              >
                Got your credentials right? Try logging in!
              </button>
            </div>
          </div>
          <div class="row justify-content-center mt-4 mb-4">
            <div class="col-10">
              <mat-divider></mat-divider>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-12 text-center">
              <span>Or create brand new account down here!</span>
            </div>
          </div>
          <div class="row justify-content-center mb-4">
            <div class="col-10 text-center">
              <button
                class="w-100"
                type="button"
                mat-raised-button
                (click)="onSingUpClick()">
                Sign Up
              </button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>

