<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<app-spinner-overlay></app-spinner-overlay>
