<div class="row">
  <div class="col-12">
    <app-nav-menu></app-nav-menu>
  </div>
</div>
<div class="row mt-3" *ngIf="user && user.name">
  <div class="col-12">
    <h1>
      <app-avatar class="d-inline-block d-inline-block position-relative"></app-avatar>
      Welcome {{user.name}}!
    </h1>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-12 text-center">
    <mat-accordion [multi]="true">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Avatar
          </mat-panel-title>
          <mat-panel-description>
            Show 'em who you really are
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row justify-content-center">
          <div class="col-6">
            <div class="alert-info">File should be jpg, jpeg or png</div>
            <input type="file" (change)="onFileChange($event)">
            <button mat-raised-button color="accent" (click)="onUploadAvatar()">Upload avatar</button>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Account details
          </mat-panel-title>
          <mat-panel-description>
            Here you can update your account details
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row justify-content-center">
          <div class="col-6">
            <app-update-account-details
              [user]="user"
              (userChanges)="onUserChanges($event)"
            >
            </app-update-account-details>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Advanced account options
          </mat-panel-title>
          <mat-panel-description>
            Feeling like hackerman today?
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row justify-content-center">
          <div class="col-6">
            <button
              mat-raised-button
              color="accent"
              type="button"
              (click)="onLogoutAll()"
            >
              Logout on all devices
            </button>
          </div>
          <div class="col-6">
            <button
              mat-raised-button
              color="warn"
              type="button"
              (click)="onDeleteAccount()"
            >
              Delete your account
            </button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
