<form [formGroup]="updatesForm" (ngSubmit)="onUpdateFormSubmit()">
  <mat-card>
    <mat-card-content>
      <div class="row">
        <div class="col-12">
          <mat-form-field class="w-100">
            <input
              placeholder="Brand new name"
              formControlName="name"
              matInput
              type="text">
            <mat-error *ngIf="updatesForm.get('name')">
              {{getErrorMessage('name')}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-form-field class="w-100">
            <input
              placeholder="new password"
              formControlName="password"
              matInput
              type="password">
            <mat-error *ngIf="updatesForm.get('password')">
              {{getErrorMessage('password')}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-form-field class="w-100">
            <input
              placeholder="Confirm new password"
              formControlName="confirm-password"
              matInput
              [errorStateMatcher]="myMatcher"
              type="password">
            <mat-error
              *ngIf="updatesForm.get('confirm-password').invalid || updatesForm.hasError('confirmationFailed')">
              {{ updatesForm.hasError('confirmationFailed') ? 'You didn\'t get thoe password quiet right' : getErrorMessage('confirm-password')}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="row justify-content-center">
        <div class="col-10 text-center">
          <button
            class="w-100"
            mat-raised-button
            color="primary"
            type="submit"
          >
            Update your account details for free!
          </button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
