<div class="row">
  <div class="col-12 text-left m-1 mb-3">
    <div *ngIf="!inEditionMode; else inputTemplate" class="row">
      <div class="col-9">
        {{task.description}}
      </div>
      <div class="col-3">
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="switchEditionMode()"
        >
          Edit
        </button>
      </div>
    </div>
    <ng-template #inputTemplate>
      <div class="row">
        <div class="col-9">
          <mat-form-field class="w-100">
            <textarea #newDescription matInput [value]="task.description" type="text"></textarea>
          </mat-form-field>
        </div>
        <div class="col-3">
          <div class="row mb-3">
            <div class="col-12">
              <button
                class="w-75"
                type="button"
                mat-raised-button
                color="accent"
                (click)="switchEditionMode(newDescription.value)"
              >
                Save
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button
                class="w-75"
                type="button"
                mat-raised-button
                color="warn"
                (click)="onDeleteTask()"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
<div class="row pb-1 pt-1 task-date">
  <div class="col-6">
    Created: {{task.createdAt | date}}
  </div>
  <div class="col-6">
    Last update: {{task.updatedAt | date}}
  </div>
</div>
