<nav class="navbar navbar-expand-lg navbar-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <button
          [ngClass]="{'font-weight-bold': router.url === '/'}"
          (click)="onNavButtonClick('')"
          type="button"
          mat-button>
          Task manager
        </button>
      </li>
      <li class="nav-item">
        <button
          [ngClass]="{'font-weight-bold': router.url === '/my-account'}"
          (click)="onNavButtonClick('my-account')"
          type="button"
          mat-button>
          My Account
        </button>
      </li>
    </ul>
    <ul class="navbar-nav float-right">
      <li class="nav-item">
        <button
          mat-raised-button
          type="button"
          (click)="onLogoutClick()"
        >
          Logout
        </button>
      </li>
    </ul>
  </div>
</nav>
