<form [formGroup]="updatePreferencesForm">
  <div class="row">
    <div class="col-9">
      <div class="row">
        <div class="col-12">
          <mat-form-field class="w-100">
            <mat-select formControlName="completed"
                        placeholder="Filter by completion status">
              <mat-option [value]="'undefined'">All</mat-option>
              <mat-option [value]="false">To do</mat-option>
              <mat-option [value]="true">Done</mat-option>
            </mat-select>
            <mat-error *ngIf="updatePreferencesForm.get('completed').invalid">
              {{getErrorMessage('completed')}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-form-field class="w-100">
            <mat-select formControlName="column-name"
                        placeholder="Sort by task attribute of choice">
              <mat-option [value]="'undefined'">None</mat-option>
              <mat-option [value]="'updatedAt'">Updated At</mat-option>
              <mat-option [value]="'createdAt'">Created At</mat-option>
            </mat-select>
            <mat-error *ngIf="updatePreferencesForm.get('column-name').invalid">
              {{getErrorMessage('column-name')}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row" *ngIf="updatePreferencesForm.controls['column-name'].value !== 'undefined'">
        <div class="col-12">
          <mat-form-field class="w-100">
            <mat-select formControlName="order"
                        placeholder="Sorting order">
              <mat-option [value]="'asc'">Ascending</mat-option>
              <mat-option [value]="'desc'">Descending</mat-option>
            </mat-select>
            <mat-error *ngIf="updatePreferencesForm.get('order').invalid">
              {{getErrorMessage('order')}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-form-field class="w-100">
            <input
              formControlName="limit"
              matInput
              placeholder="Amount of tasks displayed" type="text">
          </mat-form-field>
          <mat-error class="text-left" *ngIf="updatePreferencesForm.get('limit').invalid">
            {{getErrorMessage('limit')}}
          </mat-error>
        </div>
      </div>
    </div>
    <div class="col-3">
      <button
        type="button"
        (click)="onUpdateSubmit()"
        color="accent"
        mat-raised-button>
        Save
      </button>
    </div>
  </div>
</form>
